[2021-05-18 07:52] MichaelPShea opened #1 "Feedback for "Architectural Overview""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/c93afb5743a04b62afea0fe1def00062.html

If you view the graphic in github in dark mode, the graphic does not work.

[2021-05-18 07:55] MichaelPShea commented on #1
![image](https://user-images.githubusercontent.com/25907918/118613608-32920900-b7bf-11eb-8f1d-5aafbd982c26.png)

[2021-05-19 12:21] Paolaufer commented on #1
Hi Michael,
Thank you for your feedback!
I have updated the graphic and now it is visible inthe dark theme too.

![image](https://user-images.githubusercontent.com/26144308/118811647-ed043780-b8b5-11eb-9fba-cf298b4f6d07.png)

[2021-05-20 09:32] je-hal commented on #1
@MichaelPShea : Does this solve the issue from your point of view?

[2021-05-20 09:34] #1 closed

[2021-05-21 14:02] marckuipers opened #3 "Feedback for "What is SAP Business Application Studio""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/8f46c6e6f86641cc900871c903761fd4.html

[2021-05-21 15:41] je-hal commented on #3
@marckuipers : Did you create this issue by mistake? Please add any feedback you may have about the topic linked above.

Thank you!

[2021-05-24 07:05] ShiraManas opened #4 "Feedback for "Service Center""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/1e8ec75c9c784b51a91c7370f269ff98.html?locale=en-US&version=Cloud

Hi,
Whenever the menucascade tag is used in DITA, the viewer adds an extra arrow at the end that wasn't there before (in place of a space?). This may be confusing for the user.

Some examples:
Service Center: Steps 1, 6

[2021-05-25 19:24] tpowlas3 opened #5 "Feedback for "Additional Extensions""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/7188fed1e3764dbc8f71f0d8650d7b68.html

Just wondering why there is an error at the very end of this - looks strange - see attached image

![feedback extra arrow](https://user-images.githubusercontent.com/18076299/119556592-37c9f780-bd6d-11eb-8140-6991017f2f49.png)

[2021-05-26 13:09] greg2git opened #6 "Feedback for "Terminal" - a suggestion"
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/c8b4ae95701942a5a21be4e84749f97f.html

i would add that the quickest way to arrive at the directory in the terminal is to right-click on the folder in the explorer and then select 'Open in Terminal'.

Thank you,
gm

[2021-05-27 07:04] qmacro commented on #4
This is being handled internally, thanks for raising this @ShiraManas !

[2021-05-27 07:04] #4 closed

[2021-05-27 07:09] qmacro commented on #5
Thanks Tammy, this does look a little odd at first but in fact it's by design, to highlight the fact that this link will take you away from the SAP Help Portal. So the arrow signifies that departure, and the arrow deliberately follows the hyperlink.

[2021-05-27 07:09] #5 closed

[2021-05-27 07:36] qmacro commented on #3
Hi there 👋 There's been no activity on this issue for a while, so we're closing it. If you have further information to provide, please feel free to reopen it and add that information. Until next time, thanks!

[2021-05-27 07:36] #3 closed

[2021-05-27 07:43] Paolaufer commented on #6
Hi @greg2git 👋
Thank you for helping us improve our product.
I will update the guide accordingly. You will be able to see the updated document within a couple of days.

[2021-05-27 08:50] #6 closed

[2021-05-27 14:52] ajmaradiaga opened #9 "Feedback for "What is SAP Business Application Studio""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/8f46c6e6f86641cc900871c903761fd4.html?locale=en-US&version=Cloud&q=Theia

In the documentation, when explaining what is SAP Business Application Studio, there is no mention that it is based on the open source Eclipse Theia. Shouldn't there be a mention of it?

Reference: https://blogs

[2021-05-27 16:59] iwonahahn opened #10 "Feedback for "Creating a Project from the Terminal""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/c29e1a3a652242e089af453c2177249a.html?locale=en-US

In Markdown it looks good:

![image](https://user-images.githubusercontent.com/22098308/119866987-aea5f280-bf1d-11eb-9748-d06a7b83790b.png)

but not on SAP Help Portal:

![image](https://user-images.githubusercontent.com/22098308/119

[2021-05-27 17:21] iwonahahn opened #11 "Feedback for "Getting Started with a Trial Account""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/48ed55ec07e04a02b2218236c336321b.html?locale=en-US

On Trial users can access SAP Business Application Studio via Quick Tool Access.

[2021-05-28 13:05] greg2git commented on #10
while at it, why not mention the shortcut:
**CTRL+`**
it works better on the US keyboard than it reads as an instruction since it can easily be confused with:
**CTRL+'**
which does 'nothing'.

[2021-05-28 15:21] jitendrakansal opened #12 "Feedback for "SAP Mobile Application""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/95f86cceb6f1441d81c2b562766719ed.html?locale=en-US&version=Cloud

Regarding **Mobile Development Kit** reference, updated cotent is available at this page https://help.sap.com/doc/f53c64b93e5140918d676b927a3cd65b/Cloud/en-US/docs-en/guides/getting-started/mdk/bas.html

[2021-05-30 13:40] Paolaufer commented on #10
Hi,
Thank you both for your feedback!

@iwonahahn There is already an internal thread open with this issue. You are welcome to follow the progress there,  https://sapjira.wdf.sap.corp/browse/DPS-11558

@greg2git  We prefer not to confuse the users with several ways of doing the same action, so for the moment we will keep the menu instructions.  For the users who prefer to use the keyboard, there i

[2021-06-01 10:44] Paolaufer commented on #12
Hi,
Thank you for the update. I have changed the link to the one you provided.
You will be able to see the new link with our next release.

[2021-06-01 10:44] #12 closed

[2021-06-01 10:46] #10 closed

[2021-06-01 10:48] Paolaufer commented on #9
Thanks for your feedback.
I'll check internally and will send an update soon.

[2021-06-01 10:52] jitendrakansal commented on #12
https://people.sap.com/jitendrakumar.kansal

[2021-06-02 10:50] Paolaufer commented on #11
Hi @iwonahahn,
Thank you for your feedback.
I will update the document with the reference to the Quick Tool Access.
You will see the changes on our next release.

[2021-06-02 10:50] #11 closed

[2021-06-02 11:37] iwonahahn commented on #11
https://people.sap.com/iwona.hahn

[2021-06-04 08:02] santiagogm1995 opened #16 "Feedback for "What is SAP Business Application Studio""
Hello experts!! :smile:

I'm looking at this part of the documentation '_You can find the regions where SAP Business Application Studio is available in the **Service Catalog**. Choose the list view () to see the details._' in the section **What is SAP Business Application Studio**.

The link of **Service Catalog** is resolving with a 404 not found. It is possible that the url has changed to [link]

[2021-06-06 13:31] Paolaufer commented on #16
Hi @santiagogm1995,
Thank you for bringing this to our attention!
I will update the link. You will be able to see the change in the Help Portal soon.
Regards,
Pao

[2021-06-06 14:02] #16 closed

[2021-06-06 19:33] santiagogm1995 commented on #16
https://people.sap.com/santiagogm

[2021-06-08 14:53] sebastianesch opened #17 "Feedback for "Manage Authorizations and Roles""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/01e69c53003c4b0a8a64310a3f08867d.html

The description of the different Roles for Business Application Studio is very generic. The following descriptions:

* To allow development using SAP Business Application Studio, the developer must be assigned the Developer role.
* To allow admin

[2021-06-15 17:14] Paolaufer opened #19 "The link to the SAP Mobile Application extension needs to be updated."

[2021-06-16 16:47] sebastianesch opened #20 "Feedback for "Connecting to External Systems""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/7e49887e6fd34182bebeca5a6841a0cc.html

I don't understand the note at the end of the page. When my Cloud Connector is connected to the Subaccount where I run BAS from, why would the Cloud Connector need to be connected to the SAP Business Application Studio connectivity service host?

[2021-06-17 08:10] #19 closed

[2021-06-17 08:58] ShiraManas commented on #20
Thanks for your feedback! I am following up with my dev teams about this issue.

[2021-06-17 08:59] ShiraManas commented on #17
I am following up with my dev team and will get back to you soon. Thanks for your feedback!

[2021-06-17 11:23] BaerbelW opened #21 "Feedback for "What is SAP Business Application Studio""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/8f46c6e6f86641cc900871c903761fd4.html?locale=en-US

Just wondering - as the title is worded as a question - whether or not it should have a question mark at the end?

Cheers
Bärbel

[2021-06-17 11:29] BaerbelW opened #22 "Feedback for "What is SAP Business Application Studio""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/8f46c6e6f86641cc900871c903761fd4.html?locale=en-US

The following sentence in the initial paragraph could be easier to read if broken into two sentences:
"At the heart of SAP Business Application Studio are the dev spaces, _which are like_ isolated virtual machines in the cloud contai

[2021-06-17 11:57] ShiraManas commented on #21
Thank you for your feedback! You are right. I am updating this now and the update will appear with the next release.

[2021-06-17 12:04] ShiraManas commented on #22
I agree with you and am updating this to:
At the heart of SAP Business Application Studio are the dev spaces. The dev spaces are comparable to isolated virtual machines in the cloud containing tailored tools and preinstalled runtimes per business scenario, such as SAP Fiori, SAP S/4HANA extensions, Workflow, Mobile and more.
Thank you for your feedback!!

[2021-06-17 13:01] BaerbelW commented on #21
https://people.sap.com/baerbel.winkler2

[2021-06-18 06:45] sebastianesch commented on #20
The SAP Cloud SDK has some pretty detailed documentation about this topic: https://sap.github.io/cloud-sdk/docs/js/guides/bas-external-system

[2021-06-18 06:53] sebastianesch opened #24 "Feedback for "Delete Personal Data""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/03da2fa7b94841aebe756fec24ee9456.html

5. Make sure the dev space you want to **export** is in status Running ...

Is the dev space exported before deleting or is "export" wrong here?

[2021-06-18 12:59] stefania-santimbrean opened #25 "Feedback for "SAP Fiori""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/354f00cbdecf49e28084ac148a976386.html?locale=en-US&q=html5

Hello,

In the section:

[code]

When I click on the link [Create Run Configurations for HTML5 Applications](https://help.sap.com/viewer/0e2ec06ee34742fd9054fabe09c12d35/Cloud/en-US/a72ecc1d642f4621acb795e106227a7d.html) I am

[2021-06-18 13:01] stefania-santimbrean commented on #25
If I try to navigate to **Create Run Configurations for HTML5 Applications** also from [here](https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/7188fed1e3764dbc8f71f0d8650d7b68.html?locale=en-US&q=html5) I get 403.

[2021-06-18 13:18] ShiraManas commented on #25
You're right. Thank you very much for pointing that out. I have fixed this and the links should be visible for you now.
Can you confirm that you can access these topics?

[2021-06-18 13:22] stefania-santimbrean commented on #25
@ShiraManas yes, I can access from both pages 💯  Thank you!

[2021-06-18 13:23] stefania-santimbrean commented on #25
https://people.sap.com/stefania-santimbrean

[2021-06-18 13:23] #25 closed

[2021-06-18 13:24] ShiraManas commented on #25
Great! Thank you again for making me aware of this issue.

[2021-06-20 07:25] ShiraManas commented on #24
Thanks for your feedback! I am checking with the dev teams and will get back to you soon.

[2021-06-20 12:27] ShiraManas commented on #20
You are right about this Note. It is confusing. We have decided to remove it from this topic and leave the information in [Guided Answers](https://ga.support.sap.com/dtp/viewer/index.html#/tree/2827/actions/41344:41346:41592) only, since this information is used for troubleshooting in an extreme situation.

[2021-06-21 06:32] #21 closed

[2021-06-21 06:32] #22 closed

[2021-06-21 06:33] #20 closed

[2021-06-23 10:01] ShiraManas commented on #24
Yes, you are correct. I have updated the term and the updated term will appear in our next release (around a week and a half from now). Thanks!

[2021-06-23 10:01] #24 closed

[2021-06-23 11:09] ShiraManas commented on #17
There is more detail about each role in the Assigning Permissions section of [Manage Authorizations and Roles](https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/01e69c53003c4b0a8a64310a3f08867d.html?locale=en-US&version=Cloud). But I have moved the description of each role to the beginning of the topic to make it more clear and have

[2021-06-23 11:09] #17 closed

[2021-06-26 19:48] sebastianesch commented on #20
My SAP Community ID is sebastian.esch.

Kind regards,
Sebastian

[2021-06-26 20:43] sebastianesch opened #27 "Feedback for "Security Guide""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/7b2bdd5e38e64f129988b86e8e2836e3.html?locale=en-US

There is a typo in "It includes infomration on the following:" - information would be correct.

And the Security Guide has three sub-pages, but the overview page only mentions the first two.

[2021-06-27 06:34] ShiraManas commented on #27
The typo has been fixed and will be updated in the next release (in about a week).
I have added a link to the 3rd subtopic, which will also be updated in the next release.
Thanks for the feedback!

[2021-06-27 06:34] #27 closed

[2021-06-27 12:32] raz-korn opened #28 "Feedback for "Adding an Existing Project Using Git Remote": git username / email are automatically set during dev space creation"
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/0930e56885944a2dbef1bc98ac12b4f0.html?q=username

git username / email are automatically set during dev space creation

[2021-06-27 12:38] raz-korn opened #29 "Feedback for "Adding an Existing Project Using Git Remote": Note on branch name change"
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/0930e56885944a2dbef1bc98ac12b4f0.html?q=username

The command "$ git branch -M main" changes the name of the current branch (ref: https://www.atlassian.com/git/tutorials/using-branches).
Therefore, the note should be "Change the name of the branch from Master to Main." instead of "The

[2021-06-28 16:00] Paolaufer commented on #28
Hi @raz-korn,
When in the procedure does this happen? Would you like me to only add a note stating this?

[2021-06-28 16:06] Paolaufer commented on #29
@raz-korn
Thank you for bringing this up.
I think that maybe we no longer need the note. Our Git users will have encountered the name change already (it took place quite some time ago now) and new users will create a Main branch as instructed. There is no name change required.

[2021-06-29 07:40] raz-korn commented on #28
Hi @Paolaufer
Please check with Avital. AFAIK, git settings takes place as part of the dev space creation. No user interaction, i.e. the user does not provide username/email. This information is available for BAS. Perhaps this should also be mentioned: Which username / email are used by BAS.

[2021-06-29 07:57] raz-korn commented on #29
Hi @Paolaufer
I just run the git flow end2end (excluding step 7) and have a broader feedback:
1. The Git View provides all needed functionality. Why promote CLI?
2. When initializing the local repository it is initialized as "master". Therefore, the need to make the branch name change is still required.
3. When using the convenience button to copy the command, it also copies the "$" at the beginni

[2021-07-01 04:48] vanamlingaiah opened #31 "Feedback for "What is SAP Business Application Studio?""
https://help.sap.com/webcomponents/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/8f46c6e6f86641cc900871c903761fd4.html

https://help.sap.com/viewer/feae3cea3cc549aaa9d9de7d363a83e6/2105/en-US

https://help.sap.com/viewer/da797ae2bf6246d58abd417f24915d55/2105/en-US

[2021-07-01 08:06] Paolaufer commented on #31
Hi,
I am a bit confused about this.
Could you please provide me with more information?
Did you mean to send me these links?

[2021-07-04 06:59] ShiraManas commented on #9
I have added this to the documentation and it will appear in our upcoming release:
SAP Business Application Studio is based on an open source IDE, Elipse Theia, which embraces the Microsoft Visual Studio Code experience.

Thank you for your valuable feedback!

[2021-07-04 07:00] #9 closed

[2021-07-04 10:59] ajmaradiaga commented on #9
https://people.sap.com/ajmaradiaga

[2021-07-15 08:05] ShiraManas commented on #31
Hi there 👋 There's been no activity on this issue for a while, so we're closing it. If you have further information to provide, please feel free to reopen it and add that information. Until next time, thanks!

[2021-07-15 08:05] #31 closed

[2021-09-13 09:48] ajmaradiaga commented on #9
@ShiraManas not sure if the doc bot worked as expected... I was checking my community profile today and a badge was not assigned to my profile :-(.

[2021-09-13 10:16] ShiraManas commented on #9
Hi! I will look into this and make sure you get the badge. Thanks for letting me know!

[2021-09-20 08:45] santiagogm1995 opened #32 "Feedback for "Architectural Overview""
Hello experts!

I am trying to access the Related Links ( Manage Authorizations from CLI & Manage Authorizations from SAP BTP cockpit ) but it returns me to the home page.

Thanks and best regards!

https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/c93afb5743a04b62afea0fe1def00062.html?locale=en-US

[2021-09-20 09:27] Paolaufer commented on #32
HI,
Sorry about that.
Both those topics were merged into one:
Manage Authorizations and Roles - https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/01e69c53003c4b0a8a64310a3f08867d.html?version=Cloud

I will update the documentation, but in the meantime, I hope you can find what you were looking for in the link above.
If not, then please reopen the

[2021-09-20 09:27] #32 closed

[2021-09-27 19:42] rcaziraghi opened #34 "Feedback for "Build and Deploy" - Suggestion"
Hello experts!

In the "Build and Deploy" section we have only the MTA development subsection on the matter. Is it intended on remain on that way or can we expand on deploy options?

If is intended on be expanded, please let me know so that I can contribute (if possible).

Thank you very much for your time!

https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c93

[2021-09-29 08:22] Paolaufer commented on #34
Hi,
Thank you! I would very much like to learn about your deployment options.

[2021-09-29 14:26] rcaziraghi commented on #34
https://people.sap.com/rcaziraghi

[2021-09-29 14:26] rcaziraghi commented on #34
Thank you @Paolaufer ! Excited to be able to contribute.

[2021-09-29 14:26] #34 closed

[2021-09-30 08:18] simonegaffurini opened #35 "Feedback for "Create and Deploy an SAP Business Application Studio Extension""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/2064b4e1cd2e4eb3b8851d810fabddb6.html?locale=en-US

There's not a full documentation explaining what the possible values are for each component.
There are more possible values other then the one already in the doc, a proper list would be useful.

[2021-10-03 08:55] ShiraManas commented on #35
Hi. Thanks for the feedback. I'm not sure I understand which values you are referring to. Can you give more details?

[2021-10-04 13:32] edermatienzo opened #44 "Feedback for "Build and Deploy""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/d5e4d02d976f40feabe9b4c57443b7a5.html?locale=en-US

Would be great if you add SAP Fiori deployment options and also add configuration steps in  ERP for ABAP_REPOSITORY_SRV

Thank you.

[2021-10-04 15:19] Paolaufer commented on #9
@je-hal, could you please help us figure out why ajmaradiaga did not get a badge?

[2021-10-06 05:02] qmacro commented on #9
Please accept my apologies @ajmaradiaga, this was completely my fault - I'll get the process fixed. In the meantime, I've kicked off the mechanism for you to get your badge.

[2021-10-07 12:49] edermatienzo commented on #44
https://people.sap.com/eder_matienzo44

[2021-10-07 20:03] venugopal696 opened #54 "Kyma/Kubernetes Environment with BTP"
Hi Team,
 The documentation is only talks about the application which runs on Cloud Foundry Environment. My suggestion is to add content on other ways to get applications built and published using Kyma / Kubernetes environment with BTP.

[2021-10-09 09:02] mohamedyosufdeenjmh opened #64 "Feedback for "SAP System Service Provider""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/892114ce078b4e17a9ff7e751e6330cc.html
Please see the highlighted line below.
I think that the sentence is incomplete. Cannot understand it.
![2021-10-09_14-30-55](https://user-images.githubusercontent.com/38460935/136651832-439d357d-66f1-4176-8d75-4bc5f1d561f2.png)

[2021-10-09 10:00] mohamedyosufdeenjmh opened #71 "Feedback for "Template Wizard""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ba59cb69245443008d016690fd068fcf.html

Please see the below image (highlighted in yellow color):
![image](https://user-images.githubusercontent.com/38460935/136653597-5ea7c6cb-9b80-4713-943b-ea9bf0dfb70a.png)
But, when I click on "Edit" button in the documentation window, it shows as "Explore and I

[2021-10-10 03:02] abule1 opened #77 "Feedback for "Working in the Dev Space Manager""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ad40d52d0bea4d79baaf9626509caf33.html

I found that the alt attribute of the <image> tag is missing for most of the image tags in the documentation. It will be helpful for the reader to find **alt** attribute if the network is slow or has some other issue.

can we add **alt** attribute for all imag

[2021-10-10 03:36] #77 closed

[2021-10-10 03:39] abul123 opened #78 "Feedback for "Working in the Dev Space Manager""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ad40d52d0bea4d79baaf9626509caf33.html

I found that the alt attribute of the <image> tag is missing for the image tags of this page in the documentation. It will be helpful for the reader to find **alt** attribute if the network is slow or has some other issue.

can we add **alt** attribute for all

[2021-10-10 03:50] abul123 opened #79 "Feedback for "Explore and Install VS Code Extensions""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/d83a580979b841c3a424e6aa50ed2483.html

The image tag of this page is missing the **alt** attribute. I am seeing similar issues on the other pages of the btp-business-application documentation.

[2021-10-10 08:00] #54 closed, assigned to Paolaufer

[2021-10-10 08:01] #64 closed, assigned to ShiraManas

[2021-10-10 10:16] mohamedyosufdeenjmh commented on #71
https://people.sap.com/mohamed.yosufdeenjmh

[2021-10-13 07:46] AlexandraHofmann opened #97 "Feedback for "Dev Spaces in SAP Business Application Studio""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/6053df8bca3946f098bc9f89e49d7317.html?locale=en-US&version=Cloud

"You can choose to add additional extensions to a dev space which will provide additional tools to supplement the application with additional components for the scenario to your developer environment. See Additional Extensions."

I w

[2021-10-17 10:10] Paolaufer commented on #79
Hi,
I added the tag to this page. Will scan through others to correct there as well.
Thank you for bringing this to my attention.

[2021-10-17 10:10] #79 closed

[2021-10-17 10:12] Paolaufer commented on #78
I've added attributes to this page. Am going over the others to fix this as well.
THank you.

[2021-10-17 10:12] #78 closed

[2021-10-18 15:40] Shegox opened #107 "Feedback for "Connecting to External Systems" - Broken tutorial link"
The link at the bottom of the page is broken and points to a no longer existing tutorial (https://developers.sap.com/tutorials/cp-connectivity-install-cloud-connector.html). I wasn't able to find an updated link for this specific tutorial.

Source: https://github.com/SAP-docs/btp-business-application-studio/blob/587abea7fda99e5bef2ad965fe2da19ea6d5ff75/docs/Connecting_to_External_Systems_7e49887.m

[2021-10-21 13:27] marckuipers opened #110 "Feedback for "What is SAP Business Application Studio?""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/8f46c6e6f86641cc900871c903761fd4.html?locale=en-US&version=Cloud

Test

[2021-10-24 15:17] edwin7 opened #112 "Feedback for "Working in the Dev Space Manager""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ad40d52d0bea4d79baaf9626509caf33.html?locale=en-US

A screenshot where to find "Upload Files" option during import process would be helpful. It was hard to be seen because it is at the bottom of the menu.

[2021-10-27 07:50] #97 closed, assigned to ShiraManas

[2021-10-28 07:48] ag3silaus opened #113 "Feedback for "Restrictions""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/a45742a719704bdea179b4c4f9afa07f.html?locale=en-US

Hello Experts,

Although it says "The maximum size limit of a dev space is 4 GB" in the list, my dev space is already 8 gb. Also, when I click on the restriction link in Business Application Studio, I am directed to the main page, not the Restrict

[2021-10-28 18:30] f4abap opened #114 "Feedback for "What's New for SAP Business Application Studio""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ed631d4ee2214e9f932b03d40b2c7e41.html?locale=en-US

If I hit edit it has a dead end.

What I also want to ask if the coumn deploy to ABAP is the correct wording. Shouldn't it named deploy to Netweaver Stack?

[2021-10-31 08:52] Paolaufer commented on #114
Hi,
We go with the term Deploy to ABAP.
As per the what;s new edit link, I will look into it. Thank you for letting us know!!!

[2021-10-31 09:18] Paolaufer commented on #113
Hi,
We will update the link soon! Thank you for pointing this out!
If it helps, this is the link: https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/a45742a719704bdea179b4c4f9afa07f.html

As per the disk space, please let me know if you are talking about a new dev space you created in the Trial environment.
If the limitation was established after t

[2021-10-31 09:23] Paolaufer commented on #112
Hi,
Do you mean a screenshot of the open File menu?

[2021-10-31 09:24] Paolaufer commented on #110
Hi,
I hope the test worked :)
I'm closing the issue.
Reopen if there is still an AI.

[2021-10-31 09:24] #110 closed

[2021-10-31 09:31] Paolaufer commented on #107
Thank you for bringing this to our attention!
I will update the documentation accordingly.

[2021-10-31 09:31] #107 closed

[2021-10-31 10:00] KushagraTandon02 opened #115 "Add shortcut keys for command palette"
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ba59cb69245443008d016690fd068fcf.html?locale=en-US&version=Cloud

We can add shortcut keys for VSCode Command Palette(Ctrl+shift+P) for new users to know and easily interact with new development environment.

[2021-11-01 00:28] edwin7 commented on #112
To upload files

[2021-11-01 08:01] ag3silaus commented on #113
https://people.sap.com/ag3silaus

[2021-11-01 08:20] ag3silaus commented on #113
Hi @Paolaufer,
I think I created my first devspace before the restrictions, Then I must try not to delete :D
https://github.com/SAP-docs/btp-business-application-studio/pull/105 this was my PR which is one two weeks ago.
Regards
Burak

[2021-11-01 08:23] Paolaufer commented on #113
@qmacro could you please take a look to see why Burak did not get his badge for his contribution?

[2021-11-01 09:33] Paolaufer commented on #113
You will receive your badge soon. I'm closing the item. If you have not gotten your badge in a couple of days, please open a new one for that so I can follow up.

[2021-11-01 09:33] #113 closed

[2021-11-01 09:36] Paolaufer commented on #115
Hi,
Could you please be more specific?
Are you asking us to add the shortcut for opening up the Command Palette?

[2021-11-01 10:59] qmacro commented on #113
Hi @ag3silaus   - badge assignment is now on its way, my apologies - it's my fault the system is a little slow.

[2021-11-01 11:04] ag3silaus commented on #113
Hi DJ @qmacro, thank you for your time.

[2021-11-01 16:06] Paolaufer commented on #112
Hi,
You need to open the File menu to upload files.
![image](https://user-images.githubusercontent.com/26144308/139702913-1a1a7934-9162-49e4-bbd2-2e84301acc5b.png)
Is this helpful?

[2021-11-02 02:01] edwin7 commented on #112
Yes Paola.
I couldn't find the option easily somehow. That is why I suggest to add the screenshot in the doc. Just personal opinion.

[2021-11-02 19:02] KushagraTandon02 commented on #115
Yeah! we can add shortcut keys for these. Like shown over in tutorial Step 8
[https://developers.sap.com/tutorials/btp-app-set-up-local-development.html](url)

[2021-11-04 10:27] Paolaufer commented on #112
Thank you for bringing this to our attention. I will keep this in mind. If we get any more feedback about this, I will add a screenshot.

[2021-11-04 10:27] #112 closed

[2021-11-08 18:59] Joysie opened #120 "Feedback for "What is SAP Business Application Studio?""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/8f46c6e6f86641cc900871c903761fd4.html?locale=en-US&version=Cloud

Cool simplified screenshot! :)

[2021-11-08 19:00] #120 closed

[2021-11-08 19:00] Joysie commented on #120
That was just a test! Thank you!

[2021-11-10 00:46] chechsap opened #122 "Feedback for "Working with a Trial Account""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/2cf6ec025fd640289eeef32021a30824.html

Recommend to put in a detail regarding the removal of Europe(Frankfurt) beginning October 2021 for Trial accounts.
e.g. "Since October 2021, the region Europe (Frankfurt) is no longer available for <b>new</b> SAP BTP Trial accounts."

[2021-11-10 08:47] chechsap commented on #122
https://people.sap.com/chechsap

[2021-11-10 08:50] chechsap commented on #122
https://people.sap.com/chechsap

[2021-11-11 05:07] raeijpe opened #123 "Feedback for "Terminal""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/c8b4ae95701942a5a21be4e84749f97f.html?locale=en-US

Not everybody is familiar with linux command-line. Maybe it is an idea to add a link or section with most used commands and a explanation.

[2021-11-11 07:48] raeijpe opened #124 "Feedback for "Service Center""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/1e8ec75c9c784b51a91c7370f269ff98.html?locale=en-US

In the documentation is mentioned:
 or select View  Service Center from the menu bar.

This should be
 or select View -> Open View -> Service Center from the menu bar.

[2021-11-11 08:53] ShiraManas commented on #124
You're right! It seems that the UI was changed. I will update this in the documentation and the change should appear in our next release (a week and a half from now). Thanks for pointing that out.

[2021-11-11 08:53] #124 closed

[2021-11-11 09:27] raeijpe commented on #124
https://people.sap.com/r.eijpe

[2021-11-12 04:39] jrbpraven opened #125 "Feedback for "Creating a Project from the Terminal""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/c29e1a3a652242e089af453c2177249a.html?locale=en-US

Hi, I was watching the content of this documentation and I think it's important to know there is the alternative to use the terminal to create Fiori projects via templates, but I think too the way this alternative is showed it's kind of empty. I t

[2021-11-15 13:15] Paolaufer commented on #114
The Edit button issue has been fixed.

[2021-11-15 13:15] #114 closed

[2021-12-09 17:13] ShiraManas commented on #125
Hi! We have another topic about creating projects from the [Template Wizard](https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ba59cb69245443008d016690fd068fcf.html?locale=en-US&version=Cloud) in the BAS documentation.
Are you suggesting to add a related link to the end of the command palette/template wizard topic to show how to create a Fiori Pro

[2021-12-09 19:28] ShiraManas commented on #115
Great idea! I have added the keyboard shortcut to the topic and it should appear with our next release. Thanks for your feedback!

[2021-12-09 19:28] #115 closed

[2021-12-09 19:52] ShiraManas commented on #123
Hi. This is a great idea! Is this link helpful? https://hackr.io/blog/basic-linux-commands
Or do you have another resource to recommend that I can link to with the most used commands of linux command-line?
Which commands are most useful in the terminal?

[2021-12-10 22:16] jrbpraven commented on #125
Hi Shira, I think the alternatives you gave me are so good, but my original message was refered to the alternative to create apps by using command line. So I think the tutorial [Create an SAPUI5 App from the Command Line](https://developers.sap.com/tutorials/cp-cf-sapui5-local.html) is good way to show step by step. My idea was, add this kind of existing resource in the official documentation, not

[2021-12-15 09:10] ShiraManas commented on #125
This is great feedback! I have added the link to the tutorial that you sent to the topic. It will appear with our next release. Thank you!

[2021-12-15 09:10] #125 closed

[2021-12-15 11:38] #122 closed

[2021-12-15 11:43] ShiraManas commented on #35
Hi there 👋 There's been no activity on this issue for a while, so we're closing it. If you have further information to provide, please feel free to reopen it and add that information. Until next time, thanks!

[2021-12-15 11:43] #35 closed

[2021-12-16 10:38] jrbpraven commented on #125
https://people.sap.com/josereynaldo.bautistapalomino

[2021-12-16 21:29] KushagraTandon02 commented on #115
https://people.sap.com/kushagratandon

On Wed, Dec 15, 2021, 17:15 sap-doc-bot[bot] ***@***.***>
wrote:

[2022-02-08 12:20] ckulka opened #129 "Feedback for "Connecting to a Corporate Git Repository""
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/d54ddfc1bc4f45b19dabfa0950799685.html?locale=en-US&version=Cloud

We followed the guide the other day, but ran into `Received HTTP code 502 from proxy after CONNECT` errors when trying to clone a repository in BAS after the setup was done.

It turned out that when BAS is already up and running **be

[2022-02-09 11:23] Paolaufer commented on #129
Hi,
Thank you for your feedback. I will add your solution to our Guided Answers and also add a prerequisite to this procedure to set the Cloud Connector and destination before they start.

[2022-02-16 09:02] #129 closed

[2022-02-22 06:22] abap-weasel opened #132 "Feedback for "Subscribe to SAP Business Application Studio" - Link to Pricing and Packaging results in 404 page"
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/6331319fd9ea4f0ea5331e21df329539.html?locale=en-US&version=Cloud

URL links to
https://help.sap.com/docs/link-disclaimer?site=https%3A%2F%2Fwww.sap.com%2Fproducts%2Fcloud-platform%2Fpricing.html
results in
Sorry, this page can’t be found.
Please search SAP.com or browse the links below.

[2022-02-22 06:25] abap-weasel opened #133 "Feedback for "Subscribe to SAP Business Application Studio" - Details on required quota / entitlement"
https://help.sap.com/products/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/6331319fd9ea4f0ea5331e21df329539.html?locale=en-US&version=Cloud

Doc says this "Note
If you don't see the SAP Business Application Studio tile in the results, check the entitlement configuration for your subaccount. See [Configure Entitlements and Quotas for Subaccounts](https://help.sap.com/produ

[2022-02-22 08:01] Paolaufer commented on #132
Thank you for bringing thsi to my attention. Will update the link now.

[2022-02-22 08:01] #132 closed

[2022-02-22 08:28] abap-weasel commented on #132
@Paolaufer : The issue was closed, although the link is still not working. Can you re-check. please?

[2022-02-23 10:26] Paolaufer commented on #132
@abap-weasel The link should be working now.

[2022-02-28 11:06] ShiraManas commented on #133
Thanks for your feedback! I agree that the information about which entitlement is required should be added.
I have updated the note to include information about the required entitlement and the change should appear with our next release.

Note: If you don't see the SAP Business Application Studio tile in the results, make sure that there's an entitlement for SAP Business Application Studio in your

[2022-02-28 11:06] #133 closed

[2022-03-08 10:07] Paolaufer commented on #29
Hi Raz,
I believe your question was answered by DJ.
I'm closing the issue.

[2022-03-08 10:07] #29 closed

[2022-03-08 10:19] Paolaufer commented on #28
Hi Raz,
You were right, git credentials are automatically set.
The document has been updated.

[2022-03-08 10:19] #28 closed

[2022-03-08 10:22] Paolaufer commented on #123
Hi,
The terminal option is given for developers who prefer it.
There are UI options for those less familiar.

[2022-03-08 10:22] #123 closed

[2022-06-07 08:07] Paolaufer opened #135 "Feedback for "What is SAP Business Application Studio?""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/8f46c6e6f86641cc900871c903761fd4.html

Hi, I would like to see a more detalied availability matrix.

[2022-06-07 08:08] #135 closed

[2022-06-16 09:29] raz-korn commented on #28
https://people.sap.com/raz.korn

From: sap-doc-bot[bot] ***@***.***>
Sent: Thursday, June 16, 2022 10:42 AM
To: SAP-docs/btp-business-application-studio ***@***.***>
Cc: Raz Korn ***@***.***>; Mention ***@***.***>
Subject: Re: [SAP-docs/btp-business-application-studio] Feedback for "Adding an Existing Project Using Git Remote": git username / email are automatically set during dev space creation (

[2022-06-19 11:40] Paolaufer commented on #135
https://people.sap.com/Paolaufer

[2022-10-23 11:44] Paolaufer opened #136 "Feedback for "Creating a Project Using the Wizard""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/75ff48052e0e4c7dad0cbcf6a69c57ee.html

- Add that you need to go to the hamburger to get to the File menu
- Ask Liat or Yuval if number 3 is still relevant.

[2022-10-23 11:50] Paolaufer opened #137 "Feedback for "Creating a Project from the Terminal""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/c29e1a3a652242e089af453c2177249a.htm

Also say to open the hamburger to get to the Terminal menu, and check that it works.
l was asked for which project I want to open the terminal, so I am agraid I opened a project within a project, but I can;t see oit.

[2022-10-23 12:47] ShiraManas commented on #137
Hi. This worked for me perfectly as is. I don't know if we need to add the hamburger each time. VS code doesn't in their document- https://code.visualstudio.com/docs/getstarted/settings#_settings-editor
They just write "File > Preferences > Settings", for example. What do you think?

[2022-10-23 14:42] ShiraManas opened #138 "Feedback for "Working in the Dev Space Manager""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ad40d52d0bea4d79baaf9626509caf33.html?state=DRAFT&version=Cloud

When using the new VS Code version of BAS, the "Import Content of Dev Space Content" section of the doc didn't work.
I wasn't able to upload the tar file with the contents of the dev space to the projects folder or to the user folder. Thi

[2022-10-23 14:45] Paolaufer opened #139 "Feedback for "Debugging""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/b8587ebc631346b2898a1adc8b9303c5.html

Update image

[2022-10-24 06:11] liatbor commented on #138
Hi @ShiraManas ,
I'm not sure I follow. Is this a documentation issue, or a problem in the functionality in VS Code.
If you found a bug with the functionality with VS Code, please open a jira ticket for Rima's team ASAP and close this one.
Thanks,
Liat

[2022-10-24 06:16] ShiraManas commented on #138
Yes. It's a bug with the functionality of VS Code I believe.
I'll ask Rima if it is possible to import the dev space content in VS Code in a different way than we had done previously and if not, I'll open a bug for her team.
Thanks.

[2022-10-24 07:37] ShiraManas opened #140 "Feedback for "Explore and Install VS Code Extensions""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/d83a580979b841c3a424e6aa50ed2483.html?state=DRAFT&version=Cloud

Update for move to VS Code:
-Update extensions icon and clear search results with new icons for VS Code
-Update instructions to reflect new menu: Manage button> Uninstall, Dev Space - Installed section, Remove Built-In section
-What is pu

[2022-10-24 08:49] mar-hol opened #141 "Feedback for "Restart a Dev Space""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/1f5458361583460b83eb0e208b89b0ed.html?version=Cloud

API "/ws-manager/api/v1" cannot be found on SAP API Business Hub? Can you publish the API on https://api.sap.com/ to see more details of the API.

[2022-10-24 11:39] ShiraManas commented on #140
updated in Ixiasoft

[2022-10-24 11:39] #140 closed

[2022-10-25 11:40] Paolaufer opened #142 "Feedback for "Explore and Install VS Code Extensions""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/d83a580979b841c3a424e6aa50ed2483.html?q=extensions

Update the extensions icon

[2022-10-25 11:45] Paolaufer opened #143 "Feedback for "Explore and Install VS Code Extensions""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/d83a580979b841c3a424e6aa50ed2483.html?q=extensions
there are now different sections.
@liatbor What is the difference between DEV SPACE - INSTALLED and BROWSER - INSTALLED?

And we are no longer showing the ones installed by default like we were in the past.

[2022-10-25 12:16] Paolaufer opened #144 "Feedback for "Importing Projects""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/2ada2be6bedd4cfc926a1347b87ebfe7.html?q=mporting

A new workspace will not open. You have to have one already open

[2022-10-26 07:20] Paolaufer opened #145 "Feedback for "Working in the Dev Space Manager""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/ad40d52d0bea4d79baaf9626509caf33.html?q=extensions

Add a note that you must first stop the dev space before you can edit it.

[2022-10-26 08:42] ShiraManas commented on #145
I see we have a line already in the topic: To add extentions, the dev space must be in the stopped state.
Do you want to make this into a note instead?

[2022-10-26 12:35] ShiraManas commented on #142
Updated. Is it hard to see in this color theme, though? It's the default theme so I think we should use it, but it's kind of unclear.
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/daa8adb7947848d8af8fc62e838e830e/d83a580979b841c3a424e6aa50ed2483.html?locale=en-US&state=DRAFT

[2022-10-26 12:35] Paolaufer commented on #145
Yes, I missed this phrase, maybe in a note it will catch the eye more.

[2022-10-27 06:59] ShiraManas commented on #145
Updated: https://help.sap.com/docs/SAP%20Business%20Application%20Studio/daa8adb7947848d8af8fc62e838e830e/ad40d52d0bea4d79baaf9626509caf33.html?state=DRAFT

[2022-10-27 07:01] ShiraManas commented on #142
Updated:
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/daa8adb7947848d8af8fc62e838e830e/d83a580979b841c3a424e6aa50ed2483.html?state=DRAFT
Looks better now! Thanks for sending the image.

[2022-10-27 07:47] jklingelhoefer opened #146 "Feedback for "Application Plans""
The section **Upgrading to the Standard-Edition Plan** misses IMHO information about necessary entitlement for the subaccount. This could be listed as a prerequisite in this section.

[2022-10-27 08:44] Paolaufer commented on #142
Yes, looks better. I would maybe still make it a bit smaller. What do you think?

[2022-10-27 08:44] #142 closed

[2022-10-27 08:46] Paolaufer commented on #145
I will move the note to under the first step in the procedure and change the wording from "add" to "edit".

[2022-10-27 08:46] #145 closed

[2022-10-27 09:02] ShiraManas commented on #142
I think it looks good now. :)

[2022-10-27 14:59] Paolaufer commented on #146
I have added the following note:

If you don't see the standard-edition plan option in the list, make sure that there's an entitlement for SAP Business Application Studio in your subaccount. See [Configure Entitlements and Quotas for Subaccounts](https://help.sap.com/products/BTP/65de2977205c403bbc107264b8eccf4b/5ba357b4fa1e4de4b9fcc4ae771609da.html).

It will be published in the next release.

[2022-10-27 14:59] #146 closed

[2022-10-28 10:31] jklingelhoefer commented on #146
https://people.sap.com/j.klingelhoefer

[2022-11-02 15:06] liatbor commented on #143
Hi @Paolaufer,
All our extension are installed under the dev-space extensions. I'm not sure yet what is installed under browser.

[2022-11-06 07:54] ShiraManas commented on #144
I see you have updated the doc to include Step 1: Make sure there is an open workspace in your dev space. If there is no open workspace...
I'll close this issue.

[2022-11-06 07:54] #144 closed

[2022-11-06 09:09] ShiraManas commented on #136
Updated #3: The project is added to your dev space in a new workspace or as part or a multi-root workspace depending on the Workspace preferences that you defined.
Added From the left-side menu, select File...

[2022-11-06 09:09] #136 closed

[2022-11-07 08:29] Paolaufer commented on #143
We called it "Installed" in the documentation.
If there is a differentiation later on, we'll update the doc.

[2022-11-07 08:29] #143 closed

[2022-11-08 15:34] Paolaufer commented on #141
Hi @offer8,
Any update on this?

[2022-11-08 15:35] #139 closed

[2022-11-08 15:35] #137 closed

[2022-11-28 10:57] sundbing opened #148 "Feedback for "Manage Authorizations and Roles""
https://help.sap.com/docs/SAP%20Business%20Application%20Studio/9d1db9835307451daa8c930fbd9ab264/01e69c53003c4b0a8a64310a3f08867d.html

It may be helpful to line out, that using role collection administrator is not enough to manage Business Application Studio.
Also Developer is needed.